.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #34B8FF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --bg-color: #fff;
  --text-color: #000;
}

[data-theme="dark"] {
  --bg-color: #3F3F3F;
  --text-color: #fff;
}

.App {
  font-family: "Barlow";
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.navbar {
  font-size: large;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
}

.card {
  background-color: #1B1B1B;
  position: block;
}

.button{
  background-color: #1B1B1B;
  border: #34B8FF;
}

.line{
  height: 3px;
  width: 75%;
  color: #34B8FF;
}

hr {
  margin: auto 20px;
  width: 90%;
  color: #34B8FF;
  border: solid 1px #34B8FF;
}
